body{

    color:rgb(255, 255, 255);/*cor da fonte*/
    background-color:rgb(0, 0, 0);/*corde fundo*/
    font-size: 24px;         /*tamanho da fonte*/
}
header{

    border: solid 2px rgb(rgb(0, 255, 76), green, blue); /*borda solida de px preta*/
}